.red {
  color: black;
  background-color: rgb(255, 0, 0, 0.7);
}

.red-hover {
  color: white;
  background-color: rgb(255, 0, 0, 1);
}

.green {
  color: black;
  background-color: rgb(0, 128, 0, 0.7);
}

.green-hover {
  color: white;
  background-color: rgb(0, 128, 0, 1);
}

.blue {
  color: black;
  background-color: rgb(0, 0, 255, 0.7);
}

.blue-hover {
  color: white;
  background-color: rgb(0, 0, 255, 1);
}

.purple {
  color: black;
  background-color: rgb(128, 0, 128, 0.7);
}

.purple-hover {
  color: white;
  background-color: rgb(128, 0, 128, 1);
}

.grey {
  color: black;
  background-color: rgb(128, 128, 128, 0.7);
}

.grey-hover {
  color: white;
  background-color: rgb(128, 128, 128, 1);
}